.App {
  text-align: center;
  background-color: rgb(21, 32, 43);
  color: white;
  min-height: 4080px;
}

.eq-content{
  border-width:5px;  
  border-style:ridge;
  border-radius: .35rem;
  background-color: rgb(56, 68, 77);
  border-width: 2px;
  max-width: 600px;
  width: auto;
  color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.info{
margin:15px 15px 15px 15px;
}